@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }
  body {
    background-color: var(--background);
    color: var(--foreground);
    /* 모바일 환경에서 텍스트 드래그 방지 및 터치 최적화 */
    -webkit-tap-highlight-color: transparent;
    user-select: none;
  }
}
